*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  color: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

a,
a:active,
a:visited {
  color: inherit;
}

button {
  font-size: 1rem;
  background-color: #f7f7f7;
  border: 0;
  padding: 0.5em 1.5em;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #222222;
  border: 1px solid;
  color: #f7f7f7;
}

button:active {
  background-color: #999999;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-bottom: 1px solid #f7f7f7;
}

.nav-link {
  text-decoration: none;
  font-size: 24px;
  padding: 0 7px;
}

.nav-link .active {
  text-decoration: underline;
}

.container {
  text-align: center;
  padding: 2rem 15vw;
  height: 93vh;
  width: 100%;
}

section {
  padding: 2rem 0;
  border-top: 1px solid;
}

section:last-child {
  border-bottom: 1px solid;
}

.mouse-follow-container {
  display: inline-block;
  position: relative;
  width: 80%;
  height: 25vh;
  border: 1px solid;
}

.mouse-follower {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #f7f7f7;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}
